body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  background-image: linear-gradient(to top,#09122C 0,#872341 100%) !important; /* override background image gradient w/ flat color */
}

/* Target all text inside the Navbar and set the color to white */
.navbar-nav .nav-link {
  color: #D3D3D3 !important; /* Lighter grey */
}

.navbar-brand {
  color: white !important; /* Use !important to override other styles if necessary */
}

#toggle-navbar {
  background-color: #852330 !important;
  color : #872341 !important;
}

@media (max-width: 400px) {
  #info_section {
    height: 600px;
  }
}